{% extends '@Home/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container marginT">
        <h2>{{ ajoutmodif }} recette</h2>
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3 z-depth-1-half paddingAjout">
                {{ form_start(recette) }}

                    {{ form_label(recette.nom) }}
                    {{ form_widget(recette.nom) }}

                    {{ form_label(recette.categorie) }}
                    {{ form_widget(recette.categorie) }}

                    {{ form_label(recette.ingredients) }}
                    {{ form_widget(recette.ingredients) }}

                    {{ form_label(recette.preparation) }}
                    {{ form_widget(recette.preparation) }}

                    {{ form_label(recette.temps) }}
                    {{ form_widget(recette.temps) }}

                    {{ form_label(recette.nbPersonnes) }}
                    {{ form_widget(recette.nbPersonnes) }}

                    {{ form_label(recette.photo) }}
                    {{ form_widget(recette.photo) }}

                    {{ form_widget(recette) }}

                {{ form_end(recette) }}
            </div>
        </div>
    </div>

{% endblock %}
