{% extends '@Home/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container marginT">
        <h2 class="titreRecette">{{ cate }}</h2>
        <div class="row">
            {% for recette in pagination %}
                <a href="/detail/{{ recette.id }}">
                    <div class="col s12 m6 l4">
                        <div class="Larecette z-depth-1-half" style="background: url('{{ asset('uploads/images/' ~ recette.photo) }}') center;">
                            <div class="filtreRecette">
                                <h4 class="jaune-text">{{ recette.nom }}</h4>
                                <p class="white-text">
                                    Créé par {{ recette.auteur }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
