{% extends '@Home/base.html.twig' %}

{% block title %}
    {{ recette.titre }}
{% endblock %}

{% block body %}
    <div class="container marginT">
        <h2>Détail de la recette</h2>
        <div class="row z-depth-1-half Padding">
            <h3 class="center-align">{{ recette.nom }}</h3>
            <div class="col s12 m6">
                <img src="{{ asset('uploads/images/' ~ recette.photo) }}" class="responsive-img z-depth-1">
            </div>
            <div class="col s12 m6">
                <h4>Les ingrédients :</h4>
                <p id="ingredient">{{ recette.ingredients }}</p>
            </div>
            <div class="col s12">
                <hr class="hide-on-med-and-up">
                <div class="row">
                    <div class="col s12 m6 l4">
                        <p>Temps de préparation : <b>{{ recette.temps }}</b></p>
                    </div>
                    <div class="col s12 m6 l4">
                        <p>Nombre de personnes : <b>{{ recette.NbPersonnes }}</b></p>
                    </div>
                    <div class="col s12 m6 l4">
                        <p>Catégorie : <b>{{ recette.categorie }}</b></p>
                    </div>
                </div>
                <hr>
                <h4>La recette :</h4>
                <p id="preparation">{{ recette.preparation }}</p>
                <hr>
                <p class="creation">Crée par <b>{{ recette.auteur }}</b></p>
            </div>
        </div>
    </div>
{% endblock %}
