{% extends '@Home/base.html.twig' %}

{% block title %}
    {{ recette.titre }}
{% endblock %}

{% block body %}
    <h3 class="center-align">Détail de la recette</h3>

    <div class="row">
        <div class="col s12 m10 l8 offset-m1 offset-l2 Article z-depth-2">
            <h4 class="center-align">{{ recette.nom }}</h4>
            <div class="col s12 m6">
                <img src="{{ asset('uploads/images/' ~ recette.photo) }}" class="responsive-img z-depth-1">
            </div>
            <div class="col s12 m6">
                <p>{{ recette.preparation }}<br/></p>
            </div>
            <div class="col s9 paddingB">
                <p class="creation">Crée par <b>{{ recette.auteur }}</b></p>
                <p class="creation">Catégorie : {{ recette.categorie }}</p>
            </div>
        </div>
    </div>
{% endblock %}
