{% extends '@Home/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container marginT">
        <h2>Mes recettes</h2>
        <div class="row">
            <div class="col s12 m4 l4 right paddingbtn">
                <a class="waves-effect waves-light btn jaune black-text inscrit left" href="/ajout">Ajouter une recette</a>
            </div>
            <div class="col s12 m8 l8">
                {% for recette in recette %}
                    <div class="row">
                        <div class="col s11">
                            <div class="col s4">
                                <a href="/detail/{{ recette.id }}"><div style="background: url('{{ asset('uploads/images/' ~ recette.photo) }}') center;" class="z-depth-1-half Image"></div></a>
                            </div>
                            <div class="col s8">
                                <h4><a href="/detail/{{ recette.id }}" class="black-text">{{ recette.nom }}</a></h4>
                                <p>
                                    Catégorie : {{ recette.categorie }}<br>
                                </p>
                            </div>
                        </div>
                        <a href="/modif/{{ recette.id }}">
                            <div class="col s1 icone jaune brt btn">
                                <i class="material-icons white-text">edit</i>
                            </div>
                        </a>
                        <a href="/supp/{{ recette.id }}">
                            <div class="col s1 icone jaune brb btn">
                                <i class="material-icons white-text">clear</i>
                            </div>
                        </a>
                        <div class="col s12 paddinghr">
                            <hr class="hrMes">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
